prompt/api_key.txt
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/story-page/FileContentIndex/bc50cf26-78f8-4dbb-90e3-ea734855d19f.vsidx
.vs/story-page/v17/.wsuo
.vs/story-page/v17/DocumentLayout.json
